{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": false,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/landings/new-identity",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1647674445469.6907,
          "date": "2022-08-10T14:30:11.536Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1647674445469.6907,
          "date": "2022-08-10T14:30:12.309Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1647674678451.7373,
          "date": "2022-08-10T14:30:13.050Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1660642640093.7336,
          "date": "2022-08-16T09:41:18.351Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1660717447235.7534,
          "date": "2022-08-17T06:36:43.815Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1660717452521.434,
          "date": "2022-08-17T06:36:44.589Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1660717452531.4292,
          "date": "2022-08-17T06:36:45.314Z"
        },
        {
          "file": "fonts/BewareRegular.eot",
          "mtimeMs": 1660123258000,
          "date": "2022-08-10T14:30:17.556Z"
        },
        {
          "file": "fonts/BewareRegular.svg",
          "mtimeMs": 1660123258000,
          "date": "2022-08-10T14:30:18.532Z"
        },
        {
          "file": "fonts/BewareRegular.ttf",
          "mtimeMs": 1660141185721.7473,
          "date": "2022-08-10T14:30:19.448Z"
        },
        {
          "file": "fonts/BewareRegular.woff",
          "mtimeMs": 1660123258000,
          "date": "2022-08-10T14:30:20.305Z"
        },
        {
          "file": "fonts/BewareRegular.woff2",
          "mtimeMs": 1660123258000,
          "date": "2022-08-10T14:30:21.179Z"
        },
        {
          "file": "fonts/TTNormsBold.eot",
          "mtimeMs": 1660123382000,
          "date": "2022-08-10T14:30:22.097Z"
        },
        {
          "file": "fonts/TTNormsBold.svg",
          "mtimeMs": 1660123382000,
          "date": "2022-08-10T14:30:23.375Z"
        },
        {
          "file": "fonts/TTNormsBold.ttf",
          "mtimeMs": 1660123382000,
          "date": "2022-08-10T14:30:24.439Z"
        },
        {
          "file": "fonts/TTNormsBold.woff",
          "mtimeMs": 1660123382000,
          "date": "2022-08-10T14:30:25.317Z"
        },
        {
          "file": "fonts/TTNormsBold.woff2",
          "mtimeMs": 1660123382000,
          "date": "2022-08-10T14:30:26.167Z"
        },
        {
          "file": "fonts/TTNormsMedium.eot",
          "mtimeMs": 1660123402000,
          "date": "2022-08-10T14:30:27.182Z"
        },
        {
          "file": "fonts/TTNormsMedium.svg",
          "mtimeMs": 1660123402000,
          "date": "2022-08-10T14:30:28.284Z"
        },
        {
          "file": "fonts/TTNormsMedium.ttf",
          "mtimeMs": 1660123402000,
          "date": "2022-08-10T14:30:29.286Z"
        },
        {
          "file": "fonts/TTNormsMedium.woff",
          "mtimeMs": 1660123402000,
          "date": "2022-08-10T14:30:30.152Z"
        },
        {
          "file": "fonts/TTNormsMedium.woff2",
          "mtimeMs": 1660123402000,
          "date": "2022-08-10T14:30:31.076Z"
        },
        {
          "file": "fonts/TTNormsRegular.eot",
          "mtimeMs": 1660123412000,
          "date": "2022-08-10T14:30:32.040Z"
        },
        {
          "file": "fonts/TTNormsRegular.svg",
          "mtimeMs": 1660123412000,
          "date": "2022-08-10T14:30:33.057Z"
        },
        {
          "file": "fonts/TTNormsRegular.ttf",
          "mtimeMs": 1660123412000,
          "date": "2022-08-10T14:30:34.051Z"
        },
        {
          "file": "fonts/TTNormsRegular.woff",
          "mtimeMs": 1660123412000,
          "date": "2022-08-10T14:30:34.950Z"
        },
        {
          "file": "fonts/TTNormsRegular.woff2",
          "mtimeMs": 1660123412000,
          "date": "2022-08-10T14:30:35.826Z"
        },
        {
          "file": "img/backs/author.png",
          "mtimeMs": 1660313798000,
          "date": "2022-08-12T19:20:16.517Z"
        },
        {
          "file": "img/backs/get.png",
          "mtimeMs": 1660313798000,
          "date": "2022-08-12T19:20:17.538Z"
        },
        {
          "file": "img/backs/if.png",
          "mtimeMs": 1660313798000,
          "date": "2022-08-12T19:20:18.571Z"
        },
        {
          "file": "img/backs/if.svg",
          "mtimeMs": 1660324088135.2405,
          "date": "2022-08-12T17:18:45.219Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1660313798000,
          "date": "2022-08-12T19:20:19.709Z"
        },
        {
          "file": "img/backs/themes.png",
          "mtimeMs": 1660313798000,
          "date": "2022-08-12T19:20:20.671Z"
        },
        {
          "file": "img/images/author.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:22.113Z"
        },
        {
          "file": "img/images/clouds.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:23.907Z"
        },
        {
          "file": "img/images/finger.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:24.645Z"
        },
        {
          "file": "img/images/get.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:25.385Z"
        },
        {
          "file": "img/images/if-1.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:26.204Z"
        },
        {
          "file": "img/images/if-2.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:26.949Z"
        },
        {
          "file": "img/images/if-3.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:27.767Z"
        },
        {
          "file": "img/images/if-4.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:28.505Z"
        },
        {
          "file": "img/images/if-5.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:29.294Z"
        },
        {
          "file": "img/images/if-6.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:30.035Z"
        },
        {
          "file": "img/images/if-7.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:30.839Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:33.039Z"
        },
        {
          "file": "img/images/main-1.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:34.308Z"
        },
        {
          "file": "img/images/main-2.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:35.033Z"
        },
        {
          "file": "img/images/mic.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:35.758Z"
        },
        {
          "file": "img/images/yuliya.png",
          "mtimeMs": 1660331950189.9534,
          "date": "2022-08-12T19:20:38.542Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1660140653317.5664,
          "date": "2022-08-10T14:31:13.026Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1660140667493.4001,
          "date": "2022-08-10T14:31:14.279Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1660140667577.3477,
          "date": "2022-08-10T14:31:15.328Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1660338907839.7363,
          "date": "2022-08-12T21:15:25.507Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1660338908702.2246,
          "date": "2022-08-12T21:15:26.137Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1660338908704.224,
          "date": "2022-08-12T21:15:26.789Z"
        },
        {
          "file": "img/images/clouds-2.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:22.974Z"
        },
        {
          "file": "img/images/themes.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:36.687Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1647868993000,
          "date": "2022-08-12T12:32:25.708Z"
        },
        {
          "file": "img/revs/text-1.min.jpg",
          "mtimeMs": 1647868993000,
          "date": "2022-08-12T12:32:26.930Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1647869007000,
          "date": "2022-08-12T12:32:28.158Z"
        },
        {
          "file": "img/revs/text-10.min.jpg",
          "mtimeMs": 1647869008000,
          "date": "2022-08-12T12:32:29.098Z"
        },
        {
          "file": "img/revs/text-11.jpg",
          "mtimeMs": 1647869030000,
          "date": "2022-08-12T12:32:30.701Z"
        },
        {
          "file": "img/revs/text-11.min.jpg",
          "mtimeMs": 1647869030000,
          "date": "2022-08-12T12:32:31.752Z"
        },
        {
          "file": "img/revs/text-12.jpg",
          "mtimeMs": 1647869031000,
          "date": "2022-08-12T12:32:32.921Z"
        },
        {
          "file": "img/revs/text-12.min.jpg",
          "mtimeMs": 1647869032000,
          "date": "2022-08-12T12:32:34.196Z"
        },
        {
          "file": "img/revs/text-13.jpg",
          "mtimeMs": 1647869033000,
          "date": "2022-08-12T12:32:35.399Z"
        },
        {
          "file": "img/revs/text-13.min.jpg",
          "mtimeMs": 1647869034000,
          "date": "2022-08-12T12:32:36.363Z"
        },
        {
          "file": "img/revs/text-14.jpg",
          "mtimeMs": 1647869035000,
          "date": "2022-08-12T12:32:37.304Z"
        },
        {
          "file": "img/revs/text-14.min.jpg",
          "mtimeMs": 1647869035000,
          "date": "2022-08-12T12:32:38.226Z"
        },
        {
          "file": "img/revs/text-15.jpg",
          "mtimeMs": 1647869036000,
          "date": "2022-08-12T12:32:39.398Z"
        },
        {
          "file": "img/revs/text-15.min.jpg",
          "mtimeMs": 1647869037000,
          "date": "2022-08-12T12:32:40.522Z"
        },
        {
          "file": "img/revs/text-16.jpg",
          "mtimeMs": 1647869038000,
          "date": "2022-08-12T12:32:41.730Z"
        },
        {
          "file": "img/revs/text-16.min.jpg",
          "mtimeMs": 1647869038000,
          "date": "2022-08-12T12:32:42.707Z"
        },
        {
          "file": "img/revs/text-17.jpg",
          "mtimeMs": 1647869039000,
          "date": "2022-08-12T12:32:43.851Z"
        },
        {
          "file": "img/revs/text-17.min.jpg",
          "mtimeMs": 1647869040000,
          "date": "2022-08-12T12:32:44.856Z"
        },
        {
          "file": "img/revs/text-18.jpg",
          "mtimeMs": 1647869041000,
          "date": "2022-08-12T12:32:45.911Z"
        },
        {
          "file": "img/revs/text-18.min.jpg",
          "mtimeMs": 1647869041000,
          "date": "2022-08-12T12:32:47.120Z"
        },
        {
          "file": "img/revs/text-19.jpg",
          "mtimeMs": 1647869042000,
          "date": "2022-08-12T12:32:48.416Z"
        },
        {
          "file": "img/revs/text-19.min.jpg",
          "mtimeMs": 1647869043000,
          "date": "2022-08-12T12:32:49.426Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1647868994000,
          "date": "2022-08-12T12:32:50.842Z"
        },
        {
          "file": "img/revs/text-2.min.jpg",
          "mtimeMs": 1647868995000,
          "date": "2022-08-12T12:32:52.149Z"
        },
        {
          "file": "img/revs/text-20.jpg",
          "mtimeMs": 1647869044000,
          "date": "2022-08-12T12:32:53.169Z"
        },
        {
          "file": "img/revs/text-20.min.jpg",
          "mtimeMs": 1647869044000,
          "date": "2022-08-12T12:32:54.264Z"
        },
        {
          "file": "img/revs/text-21.jpg",
          "mtimeMs": 1647869046000,
          "date": "2022-08-12T12:32:55.604Z"
        },
        {
          "file": "img/revs/text-21.min.jpg",
          "mtimeMs": 1647869291168.2195,
          "date": "2022-08-12T12:32:56.911Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1647868996000,
          "date": "2022-08-12T12:32:58.219Z"
        },
        {
          "file": "img/revs/text-3.min.jpg",
          "mtimeMs": 1647868997000,
          "date": "2022-08-12T12:32:59.182Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1647868998000,
          "date": "2022-08-12T12:33:00.303Z"
        },
        {
          "file": "img/revs/text-4.min.jpg",
          "mtimeMs": 1647868998000,
          "date": "2022-08-12T12:33:01.332Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1647868999000,
          "date": "2022-08-12T12:33:02.475Z"
        },
        {
          "file": "img/revs/text-5.min.jpg",
          "mtimeMs": 1647869000000,
          "date": "2022-08-12T12:33:03.593Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1647869001000,
          "date": "2022-08-12T12:33:04.707Z"
        },
        {
          "file": "img/revs/text-6.min.jpg",
          "mtimeMs": 1647869002000,
          "date": "2022-08-12T12:33:05.890Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1647869003000,
          "date": "2022-08-12T12:33:06.893Z"
        },
        {
          "file": "img/revs/text-7.min.jpg",
          "mtimeMs": 1647869003000,
          "date": "2022-08-12T12:33:07.860Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1647869004000,
          "date": "2022-08-12T12:33:09.264Z"
        },
        {
          "file": "img/revs/text-8.min.jpg",
          "mtimeMs": 1647869005000,
          "date": "2022-08-12T12:33:10.264Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1647869006000,
          "date": "2022-08-12T12:33:11.306Z"
        },
        {
          "file": "img/revs/text-9.min.jpg",
          "mtimeMs": 1647869007000,
          "date": "2022-08-12T12:33:12.216Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1647868870267.666,
          "date": "2022-08-12T12:33:13.108Z"
        },
        {
          "file": "img/revs/video-10.jpg",
          "mtimeMs": 1647868940626.1938,
          "date": "2022-08-12T12:33:14.072Z"
        },
        {
          "file": "img/revs/video-11.jpg",
          "mtimeMs": 1647868950391.8545,
          "date": "2022-08-12T12:33:15.019Z"
        },
        {
          "file": "img/revs/video-12.jpg",
          "mtimeMs": 1647868957377.742,
          "date": "2022-08-12T12:33:15.961Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1647868877597.1418,
          "date": "2022-08-12T12:33:16.862Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1647868884129.229,
          "date": "2022-08-12T12:33:17.771Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1647868890993.244,
          "date": "2022-08-12T12:33:18.669Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1647868901052.011,
          "date": "2022-08-12T12:33:19.563Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1647868909536.0999,
          "date": "2022-08-12T12:33:20.493Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1647868916479.9648,
          "date": "2022-08-12T12:33:21.407Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1647868923299.8452,
          "date": "2022-08-12T12:33:22.365Z"
        },
        {
          "file": "img/revs/video-9.jpg",
          "mtimeMs": 1647868930216.24,
          "date": "2022-08-12T12:33:23.298Z"
        },
        {
          "file": "img/icons/check.png",
          "mtimeMs": 1660331829813.2754,
          "date": "2022-08-12T19:20:21.409Z"
        },
        {
          "file": "img/images/clouds.svg",
          "mtimeMs": 1660317378241.452,
          "date": "2022-08-12T15:54:17.758Z"
        },
        {
          "file": "img/images/video.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:37.555Z"
        },
        {
          "file": "img/images/if-img-1.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:31.580Z"
        },
        {
          "file": "img/images/if-img-2.png",
          "mtimeMs": 1660313930000,
          "date": "2022-08-12T19:20:32.274Z"
        },
        {
          "file": "img/images/clouds-2.svg",
          "mtimeMs": 1660327145845.6038,
          "date": "2022-08-12T18:09:34.228Z"
        },
        {
          "file": "htaccess",
          "mtimeMs": 1660339288773.9756,
          "date": "2022-08-12T21:24:10.184Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1660718053203.8965,
          "date": "2022-08-17T06:36:40.516Z"
        },
        {
          "file": "css/course.css",
          "mtimeMs": 1660718182196.9978,
          "date": "2022-08-17T06:36:41.258Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1660718184463.124,
          "date": "2022-08-17T06:36:42.307Z"
        },
        {
          "file": "js/course.js",
          "mtimeMs": 1660653519969.829,
          "date": "2022-08-16T12:39:01.540Z"
        },
        {
          "file": "js/course.min.js",
          "mtimeMs": 1660653521248.7852,
          "date": "2022-08-16T12:39:02.343Z"
        },
        {
          "file": "js/courseLibs.js",
          "mtimeMs": 1660140653317.5664,
          "date": "2022-08-16T09:41:22.720Z"
        },
        {
          "file": "js/courseLibs.min.js",
          "mtimeMs": 1660140667493.4001,
          "date": "2022-08-16T09:41:23.660Z"
        },
        {
          "file": "css/course.min.css.map",
          "mtimeMs": 1660718184475.1177,
          "date": "2022-08-17T06:36:42.978Z"
        },
        {
          "file": "js/course.min.js.map",
          "mtimeMs": 1660653521254.7815,
          "date": "2022-08-16T12:39:03.263Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course.js"
        }
      },
      {
        "file": "_app/_js/courseLibs.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\courseLibs.js"
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\libs.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\course.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.css",
          "tasks": {
            "minify-css": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "css/course.css",
        "config": {
          "customOutput": "css\\course.min.css",
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "js/course.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\course.min.js"
        }
      },
      {
        "file": "js/courseLibs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\courseLibs.min.js"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\scripts.min.js"
        }
      }
    ]
  }
}
