#plan
	padding 90px 0
	@media screen and (max-width 991px)
		padding 90px 0 0
	@media screen and (max-width 560px)
		padding 40px 0 0
.plan
	&-wrapper
		padding 75px 80px
		background: #E8F5FC url('../img/backs/themes.png') no-repeat center
		background-size cover
		border-radius: 41px
		overflow hidden
		@media screen and (max-width 991px)
			padding 40px
		@media screen and (max-width 560px)
			padding 30px
		@media screen and (max-width 386px)
			padding 20px 15px
	&-bonus
		position absolute
		background: url(../img/images/mic.png) no-repeat right 30px bottom, linear-gradient(100.81deg, rgba(255, 255, 255, 0) 19.32%, rgba(255, 255, 255, 0.42) 49.18%, rgba(255, 255, 255, 0) 80.6%), #646464;
		background-size: auto 100px, 100%
		border-radius: 40px;
		top 0
		right -106%
		width auto
		padding 30px 140px 30px 30px
		color #fff
		@media screen and (max-width 991px)
			position: static
			margin: 35px 0
		@media screen and (max-width 560px)
			padding 20px 20px 140px 20px
			background: url(../img/images/mic.png) no-repeat center bottom, linear-gradient(100.81deg, rgba(255, 255, 255, 0) 19.32%, rgba(255, 255, 255, 0.42) 49.18%, rgba(255, 255, 255, 0) 80.6%), #646464;
			background-size: 70px, 100%
			width auto
		&-title
			font-family: B
			font-size: 30px;
			line-height: 160%;
			text-transform: uppercase;
			@media screen and (max-width 560px)
				font-size: 22px
.general-list-plan
	margin-bottom: 50px
	@media screen and (max-width 991px)
		margin 0
.general-img-plan
	position relative
	width 500px
	right -50px
	bottom: -150px
	@media screen and (max-width 1199px)
		bottom: -400px
	@media screen and (max-width 991px)
		width 100%
		max-width 597px
		bottom: -40px
		left 0
		margin 0 auto
		display block
	@media screen and (max-width 386px)
		bottom: -20px