#price
	padding 100px 0
	position relative
	background: url('../img/backs/if.svg') no-repeat center
	background-size: cover
	@media screen and (max-width 560px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.price-container
	width 100%
	max-width 400px
	margin 0 auto 50px
	border-radius: 20px
	border: 2px solid #F69D9F
	padding 35px
	background-color #fff
.cost
	text-align center
	font-size: 26px
	text-transform uppercase
	margin 20px 0 25px
	line-height: 200%
	span
		display block
		font-family: B
		font-size: 66px
		color #B0CBAA
.price-text
	text-align center
	font-size: 26px
	.date
		display inline-block
		padding 3px
		background-color: yellow
		font-weight: bold
		border-radius: 10px
	.bold
		font-weight: bold