@import 'base/1-fonts';

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base';
/*! Main */
@import 'course/1-main'
/*! For */
@import 'course/2-for'
/*! Plan */
@import 'course/3-plan'
/*! Price */
@import 'course/4-price'
/*! Get */
@import 'course/5-get'
/*! Author */
@import 'main/6-author'
/*! Revs */
@import 'main/7-revs'
/*! Footer */
@import 'base/4-footer';