-var path = '';
-var head_url = 'https://landings.gaberstein.de/new-identity/';
-var head_title = '«Новая идентичность»';
-var head_description = 'Онлайн мастер-класс Юлии Габерштейн';
//-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var libs = path+'js/libs.min.js';
-var scripts = path+'js/scripts.min.js';
//- -var noref = true
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
//- -var ak = true

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main/1-main
			include pug/main/2-video
			include pug/main/3-if
			include pug/main/4-themes
			include pug/main/5-get
			include pug/main/6-author
			include pug/main/7-revs
		include pug/base/2-footer
		include pug/main/8-modals
		include pug/base/3-scripts
		include pug/scripts/body_bottom_scripts