#main
	padding 10px 0 0
	background #F5F9F9 url(../img/backs/main.png) no-repeat center top
	background-size: cover
.main
	&-pre
		font-weight: 500
		letter-spacing: 0.3em;
		text-transform: uppercase;
		color: #A4A4A4;
		margin-top: 110px
	&-title
		font-family: B
		font-weight: 400;
		font-size: 140px;
		line-height: 60%;
		text-transform: uppercase;
		color: #B0CBAA;
		margin 20px 0 10px
		small
			display block
			font-size: 60px
			color #4D4D4D
	&-subtitle
		font-size: 18px
		color: #4D4D4D;
		margin-bottom: 55px
		width 100%
		max-width 300px
	&-info
		position absolute
		display inline-block
		padding 30px 20px
		background-color #fff
		border-radius: 9px;
		text-align center
		top 0
		left 180px
		z-index 90
		&-date
			font-family: B
			font-size: 25px
			letter-spacing: 0.015em;
			text-transform: uppercase;
			color: #4D4D4D;
		&-text
			font-size: 16px
			letter-spacing: 0.015em;
			color: #4D4D4D;
		&-img
			display block
			width auto
.general-img-main
	top 50px
	left 300px