#video
	padding 100px 0 90px
	position relative
.general-img-video
	width 100%
	top -12%
	left 0
	right 0
	display block
	margin 0 auto
	z-index 200
.content-video
	z-index 300
.video-wrapper-video
	max-width 760px