#video
	padding 100px 0 90px
	position relative
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding 40px 0
.general-img-video
	width 100%
	top -12%
	left 0
	right 0
	display block
	margin 0 auto
	z-index 200
	@media screen and (max-width 1199px)
		top -10%
	@media screen and (max-width 991px)
		display none
.content-video
	z-index 300
.video-wrapper-video
	max-width 760px