#get
	padding 100px 0
	background: url(../img/backs/get.png) no-repeat center
	background-size: cover
.get-container
	background: url(../img/images/get.png) no-repeat center
	background-size contain
	padding 80px 150px
	width 707px
.general-title-get
	margin-top: 200px