#author
	padding 100px 0
	background: url('../img/backs/author.png') no-repeat center left
	background-size: cover
	position relative
	z-index 10
.author-img
	position absolute
	right 100px
	bottom: 0
.author-info
	background: url('../img/images/author.png') no-repeat center right
	// background-size: cover
	min-height 633px
	width 500px
	position relative
	top 0
	left 200px
.general-list-author
	padding-top: 50px
	li
		text-align right
		padding 0 25px 0 0
		background-position: center right
		max-width 250px
		margin-bottom: 30px
		&:first-child
			margin-left: 58px
		&:nth-child(2)
			margin-left: 2px
		&:nth-child(3)
			margin-left: -24px
		&:nth-child(4)
			margin-left: -43px
		&:nth-child(5)
			margin-left: -48px
		&:nth-child(6)
			margin-left: -35px
		&:last-child
			margin-left: 3px