section#video
	+imgs('general-img general-img-video', 'img/images/clouds.png', 'Облака')
	.container
		.content
			+gt('', '', 'ВИДЕО приглашение', 'от юлии габерштейн')
			.video-wrapper.video-wrapper-video
				+imgs('', 'img/images/video.png', 'Видео')
				.play-button