mixin ii(n,b,p)
	.if-item(class="if-item-"+n)
		+imgs('if-item-img if-item-img'+n, 'img/images/if-'+n+'.png', b+p)
		p.if-item-text
			span=b
			=p

section#if
	//- +imgs('general-img general-img-if', 'img/backs/if.svg', '')
	.container
		.content
			+imgs('general-img general-img-if-1', 'img/images/if-img-1.png', 'Лепестки')
			+imgs('general-img general-img-if-2', 'img/images/if-img-2.png', 'Лепестки')
			+gt('', 'ЕСЛИ ТЫ:')
			.if-items
				+ii('1', 'Не можешь и не хочешь', ' дальше жить как раньше')
				+ii('2', 'Стремишься вырваться', ' из засасывающей, как болото, рутины быта, при этом оставаясь любящим и любимым человеком')
				+ii('3', 'Не знаешь с чего начать', ' важные изменения в своей жизни')
				+ii('4', 'Боишься менять привычные устои', ' - вдруг станет только хуже, не справишься и не оправдаешь ожиданий')
			.if-items
				+ii('5', 'Считаешь, что заслуживаешь лучшего,', ' чем имеешь на сейчас')
				+ii('6', 'Больше не получаешь удовольствия', ' от того, чем занимаешься')
				+ii('7', 'Хочешь начать проживать более успешную жизнь,', ' без необходимости наступать на одни и те же грабли')
			+gt('general-title-if', 'ТО ЭТОТ МАСТЕР-КЛАСС ДЛЯ ТЕБЯ!')
			+b('button-wrapper-center','', href, 'ЭТО ДЛЯ МЕНЯ!')