section#themes
	.container
		.themes-wrapper
			.row
				.col-md-6
					.content
						+gt('general-title-left', 'На мастер-классе будут раскрыты следующие темы:')
						ul.general-list
							li Откуда берутся проблемы.
							li Формирование нас, как личности. Что на это влияет?
							li С чего начать изменения к лучшему.
							li Какие препятствия могут встретиться на пути к новым целям.
							li Как найти выход из любой, сложной ситуации.
							li Ответы на вопросы участников.
						.themes-bonus
							h4.themes-bonus-title Бонус
							p.themes-bonus-text Разбор в прямом эфире запроса одного из участников.
						+b('', '', href, 'Мне это интересно!')
				.col-md-6
					+imgs('general-img general-img-themes', 'img/images/themes.png', 'На мастер-классе будут раскрыты следующие темы:')