section#get
	.container
		.row
			.col-md-4.col-md-push-8
				+gt('general-title-left general-title-get', 'Благодаря мастер-классу, ты:')
				+b('mob-none', '', href, 'хочу все это!')
			.col-md-8.col-md-pull-4
				.get-container
					ul.general-list
						li Узнаешь, как можно изменить привычные шаблоны и установки, мешающие проживать более успешную и комфортную жизнь;
						li Выявишь, каких блокирующих принципов взаимодействия с собой и окружающим миром придерживаешься лично ты;
						li Осознаешь очевидность того, что совсем необязательно постоянно наступать на одни и те же грабли, чтобы получить опыт для личного роста;
						li Поймешь, как освободиться от страха ошибок, от страха, когда тебя не понимают и не принимают, от страха остаться у разбитого корыта.
						li Определишь начальный вектор для движения по пути желаемых изменений.
				+b('d-none button-wrapper-get', '', href, 'хочу все это!')