section#get
	.container
		.row
			.col-md-6.col-md-push-6
				+gt('general-title-left', 'Благодаря мастер-классу, ты:')
				+b('', '', href, 'хочу все это!')
			.col-md-6.col-md-pull-6
				.get-container
					ul.general-list
						li Узнаешь, как можно изменить привычные шаблоны и установки, мешающие проживать более успешную и комфортную жизнь;
						li Выявишь, каких блокирующих принципов взаимодействия с собой и окружающим миром придерживаешься лично ты;
						li Осознаешь очевидность того, что совсем необязательно постоянно наступать на одни и те же грабли, чтобы получить опыт для личного роста;
						li Поймешь, как освободиться от страха ошибок, от страха, когда тебя не понимают и не принимают, от страха остаться у разбитого корыта.
						li Определишь начальный вектор для движения по пути желаемых изменений.
				+b('', '', href, 'хочу все это!')