section#plan
	.container
		.plan-wrapper
			.row
				.col-md-6
					.content
						+gt('general-title-left', 'Программа курса:')
						ul.general-list.general-list-plan
							li Целеполагание
							li Работа со страхами и блоками
							li Личные границы (2 урока)
							li Ответы на вопросы, обратная связь по курсу
							li Работа с убеждениями
							li Детские решения
							li Наполнение ресурсностью
							li Получение ответов на самые сакральные вопросы через гипноз
							li Ответы на вопросы, обратная связь по курсу
						.plan-bonus
							h4.plan-bonus-title + Бонусный урок
						+b('', '', href, 'Записаться')
				.col-md-6
					+imgs('general-img general-img-plan', 'img/images/main-1.png', 'На мастер-классе будут раскрыты следующие темы:')