section#price
	.container
		+gt('', 'В обучение входит:')
		.price-container
			ul.general-list
				li 10 основных занятий
				li бонусный урок
				li домашние задания
				li обратная связь
				li чат курса
			p.cost Стоимость
				span €750
			+b('', '', '#!', 'Оплатить', '_blank')
		p.price-text
			span.date 29-го августа
			|  цена увеличится, курс будет стоить 
			span.bold 800€.
			br
			| Успейте воспользоваться более выгодным предложением!