section#get
	+imgs('general-img general-img-get', 'img/images/clouds.svg', 'Облака')
	.container
		.row
			.col-md-5.col-md-push-7
				+gt('general-title-left general-title-get', 'Что вы получите в&nbsp;результате прохождения курса:')
				+b('mob-none', '', href, 'хочу получить!')
			.col-md-7.col-md-pull-5
				.get-container
					ul.general-list
						li научитесь правильно ставить цели;
						li проработаете свои страхи и блоки;
						li поймете что такое личные границы, и как их отстаивать;
						li наработаете новые нейронные связи и убеждения, способствующие улучшению качества жизни;
						li замените свои детские решения, мешающие вашему благополучию, на новые, созидающие;
						li выявите необходимые вам ресурсы, и встроите в вашу жизнь.
				+b('d-none button-wrapper-get', '', href, 'хочу получить!')