section#author
	.container
		.content
			+imgs('author-img', 'img/images/yuliya.png', 'Юлия Габерштейн')
			.author-info
				ul.general-list.general-list-author
					li Дипломированный психолог
					li НЛП-коуч
					li Гипнолог
					li Арт-терапевт/ нейрографика
					li Спикер и ведущая авторских курсов
					li МАК-терапевт
					li Сертифицированный системный расстановщик и системный терапевт